import { Component, OnInit } from '@angular/core';

@Component({
  selector: '${config.prefix}-${inputName}',
  templateUrl: './${inputName}.component.html',
  styleUrls: ['./${inputName}.component.${config.styleExt}']
})
export class ${inputUpperCase}Component implements OnInit {

  constructor() { }

  ngOnInit() {
  }

}
