import { async, ComponentFixture, TestBed } from '@angular/core/testing';

import { ExtDemoComponent } from './ext-demo.component';

describe('ExtDemoComponent', () => {
  let component: ExtDemoComponent;
  let fixture: ComponentFixture<ExtDemoComponent>;

  beforeEach(async(() => {
    TestBed.configureTestingModule({
      declarations: [ ExtDemoComponent ]
    })
    .compileComponents();
  }));

  beforeEach(() => {
    fixture = TestBed.createComponent(ExtDemoComponent);
    component = fixture.componentInstance;
    fixture.detectChanges();
  });

  it('should create', () => {
    expect(component).toBeTruthy();
  });
});
