import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { ${upperName}Component } from './${inputName}.component';

@NgModule({
  imports: [
    CommonModule
  ],
  declarations: [${upperName}Component]
})
export class ${upperName}Module { }
