import { Pipe, PipeTransform } from '@angular/core';

@Pipe({
  name: '${inputName}'
})
export class ${upperName}Pipe implements PipeTransform {

  transform(value: any, args?: any): any {
    return null;
  }

}
