/* tslint:disable:no-unused-variable */

import { TestBed, async } from '@angular/core/testing';
import { ${upperName}Pipe } from './${inputName}.pipe';

describe('Pipe: ${upperName}e', () => {
  it('create an instance', () => {
    let pipe = new ${upperName}Pipe();
    expect(pipe).toBeTruthy();
  });
});
