import { Injectable } from '@angular/core';
import { Resolve, Router } from '@angular/router';

@Injectable()
export class ${upperName}Resolver implements Resolve<T> {

constructor(private router: Router) { }

resolve() { }

}
